@import 'common/fonts';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'swiper/swiper-bundle';
@import 'swiper/modules/effect-fade';
@import 'photoswipe/dist/photoswipe.css';

/* @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;800&display=swap'); */

:root {
    --color-primary: #0974BA;
    --color-secondary: #27AAE1;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Tailwind default breakpoints */
/* 'sm': '640px',
// => @media (min-width: 640px) { ... }

'md': '768px',
// => @media (min-width: 768px) { ... }

'lg': '1024px',
// => @media (min-width: 1024px) { ... }

'xl': '1280px',
// => @media (min-width: 1280px) { ... }

'2xl': '1536px',
// => @media (min-width: 1536px) { ... } */

@layer base {
    html {
        @apply text-[#404040];
        scroll-behavior: smooth;
        font-size: 14px;
        @media (min-width: 1024px) {
          font-size: 16px;
        }
        @media (min-width: 1536px) {
          font-size: 18px;
        }
    }
}

@layer components {
    .btn-primary {
        @apply bg-primary text-white;
    }
    .btn {
        @apply px-8 py-2 rounded-lg font-semibold;
    }
}


.btn-blue a {
    padding: 1rem 3rem;
    border-radius: .5rem;
    font-weight: 500;
    background-color: var(--color-secondary);
    color: #fff;
    transition: background-color .3s ease-in-out;
    margin-left: 1rem;
}

.btn-blue a:hover {
    color: #fff;
    background-color: var(--color-primary);
}

#offcanvasMenu .btn-blue a {
    background-color: #fff;
    color: var(--color-secondary);;
    margin-left: 0;
    display: inline-block;
    padding: .5rem 3rem;
    margin-top: 2rem;
}

.swiper-pagination-bullet {
    background-color: rgba(217 217 217 / 0.8);
    width: 50px;
    height: 7px;
    border-radius: 0;
    transition: .1s ease-in-out
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
    background-color: rgba(217 217 217 / 1);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    pointer-events: none;
}

.ddp-pswp-lightbox img {
    transition: transform .2s;
}

.ddp-pswp-lightbox img:hover {
    transform: scale(1.1);
}

.home .main {
    margin-top: -130px;
}

@media screen and (min-width: 1280px){
    .home .main {
        margin-top: -190px;
    }
}

.quote footer {
    background-image: url("../images/quote-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (min-width: 1280px){
    .quote footer {
        padding-top: 100px;
        padding-bottom: 80px;
    }
}

.d-none {
    display: none;
} 

@media screen and (min-width: 1280px){
    .lg-display-block {
        display: block;
    }
}
